*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
body{
    font-family: 'kanit', sans-serif;
   
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    align-items: center;
    
    
    
}  
main{
    background-image: url(./desktop-wallpaper-kathakali-kerala-culture.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment:scroll;
    background-size: cover;
   height: 43.75rem;
}

.nav-links{
    display: flex;
    gap: 1.5rem;
}
.nav-link{
    list-style-type: none;
    font-size: 1.25rem;
}
.nav-link a{
   text-decoration: none; 
   color: #fff;
   font-size: 1.5625rem;
   margin: .625rem;
   letter-spacing: .0625rem;

}
.logo{
    border-radius: 6.25rem;
}
.nav-link button{
    border-color: #008000;
    color: #000;
    border-style: solid;
    border-width: .25rem;
    font-size: 1.25rem;
    padding: .625rem;
    background-color: #fff;
    text-align: center;
    letter-spacing: .0625rem;
}
.nav-link button#diff{
    border-color: green;
    color: #fff;
    border-style: solid;
    font-size: 1.25rem;
    background-color: #008000;
    padding: .625rem;
    letter-spacing: .0625rem;


}
/* header  ends */
.top{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    

}
.top h1{
    font-size: 3.75rem;
    color: #fff;

}
.top-section {
    display: flex;
    gap: 1.5rem;
    
}
.top-section a{
    text-decoration: none; 
    
    font-size: 1.5625rem;
    margin: .625rem;
    letter-spacing: .0625rem; 
}
.top-sectiona{
    border-color: #008000;
    color: #008000;
    border-style: solid;
    border-width: .25rem;
    font-size: 1.25rem;
    padding: .625rem;
    background-color:#fff;
    text-align: center;
    letter-spacing: .0625rem;
    border-radius: .5rem;

}
.top-sectionb{
    border-color: green;
    color: #fff;
    border-style: solid;
    font-size: 1.25rem;
    background-color: #008000;
    padding: .625rem;
    letter-spacing: .0625rem;
    border-radius: .5rem;
}

.set{
    margin-left: 3.4375rem;
    text-decoration: underline #008000;
    text-transform: uppercase;
    font-size: 1.875rem;

}
.spot{
    display: grid;
    grid-template-columns:43.75rem 43.75rem ;
    grid-template-rows: 22rem;
    place-content: center;
    justify-items: center;
    align-items: center;
}
.item{  
    text-align: center;
    font-size: 1.4375rem;
    text-decoration:underline #008000;
    text-transform: uppercase;
    text-shadow: #000;
}
.button {
    text-align: center;
}
button a{
    
    text-decoration: none;
    color: #fff;
    
}
.edit{
    border-color: green;
    color: #fff;
    border-style: solid;
    font-size: 1.25rem;
    background-color: #008000;
    padding: .625rem;
    text-align: center;
    
}
.kerala{
    text-align: right;
    margin-right: 3.125rem;
}
.map
{
    display: flex;
    margin: 3.4375rem;
    
}
.mapofkerala{
    
    text-align: center;
    border: .3125rem; 
    border-style: solid;
    border-color: #008000;
    
}
.about{
    font-size: 1.125rem;
    line-height: 250%;

    
}
#secondp{
    margin: 3.4375rem;
    font-size: 1.125rem;
    line-height: 250%;

}
.district-section{
    display: grid;
    grid-template-columns:repeat(3,25rem);
    grid-template-rows:repeat(2,25rem);
    place-content: center;
    justify-items: center;
    align-items: center;
   
}
.districts h4{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #008000;
}
.districts{
    width: 21.875rem;
   
}

.img-district{
    width: 100%;
    height: 18.75rem;
}
.img-district img{
    width: 100%;
    height: 100%;
    border-radius: 9.375rem;

}
.center{
    display: grid;
    place-content: center;
}
.form-section{
    width: 21.875rem;
    background-color: white;
    border: 0rem solid black;
    height: 25rem;
    padding: 2.5rem 0;
    box-shadow: .25rem .375rem .3125rem .125rem rgba(0,0, 0, 0.26);
    border-radius: .9375rem;
   

}
.form-section h1{
    text-align: center;
    color: #008000;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: underline black; 
    margin: auto;
    margin-bottom: 1.25rem;


}
input{
    background: transparent;
    border: none;
    border-bottom: .0625rem solid #008000;
    padding: .125rem .3125rem;
}
.input-group{
    width: 18.75rem;
    margin: 1.875rem auto;
    color: grey;
    font-size: 1rem;
    

}
.submit-group{
    text-align: center;
}
.submit-button{
    background-color: #008000;
    color: #fff;
    border: none;
    padding: .625rem 0;
    width: 12.5rem;
    font-size: 1.125rem;


}
footer{
    background-color: lightgreen;
}
 @media all and (max-width: 798px){  
    main{
        width: 150%;
    }
    .top h1{
        font-size: 4rem;
    }
    .set{
        font-size: 2.15rem;

    }
    .nav-links{
        display: none;
        
    }
    .spot{
        grid-template-columns:33.75rem;
    
    }
    .item{
        font-size: 2rem;
    }
    .map{
        flex-direction: column;
        align-items: center;
    }
    .about{
        font-size: 1.75rem;
        text-align: center;
    }
    #secondp{
        font-size: 1.75rem;
        text-align: center;
    }
    .district-section{
        grid-template-columns:25rem ;
        align-items: center;
        
        
    }
    .districts h4{
        font-size: 2.5rem;
        text-align: center;
    }
    .img-district{
        width: 125%;
    }
    .form-section{
        height: 32rem;
        width: 35rem;
    }
    .form-section h1{
        font-size: 2.25rem;
    }
    .input-group{
        font-size: 1.5rem;
        
        
    }
    
    }

}
@media all and (min-width: 789px) and (max-width:900px){  
    main{
        width: 150%;
    }
    .top h1{
        font-size: 4rem;
    }
    .set{
        font-size: 2.15rem;
        text-align: center;

    }
    .nav-links{
        display: none;
        
    }
    .spot{
        grid-template-columns:33.75rem;
    
    }
    .item{
        font-size: 2rem;
    }
    .map{
        flex-direction: column;
        align-items: center;
    }
    .about{
        font-size: 1.75rem;
        text-align: center;
    }
    #secondp{
        font-size: 1.75rem;
        text-align: center;
    }
    .district-section{
         grid-template-columns:400px,400px;
         grid-template-rows: repeat(400px);
        
        
        
        
    }
    .districts h4{
        font-size: 2.5rem;
        text-align: center;
    }
    .img-district{
        width: 125%;
    }
    .form-section{
        height: 32rem;
        width: 30rem;
    }
    .form-section h1{
        font-size: 2.25rem;
    }
    .input-group{
        font-size: 1.5rem;
        
        
    }
    .form-section{
        width: 150px;
    }
}