*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
body{
    font-family: 'kanit', sans-serif;
   
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
    
    
}  
main{
    background-image: url(./desktop-wallpaper-kathakali-kerala-culture.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment:scroll;
    background-size: cover;
   height: 700px; 


    
}

.nav-links{
    display: flex;
    gap: 1.5rem;
}
.nav-link{
    list-style-type: none;
    font-size: 20px;
}
.nav-link a{
   text-decoration: none; 
   color: #fff;
   font-size: 25px;
   margin: 10px;
   letter-spacing: 1px;

}
.logo{
    border-radius: 100px;
}
.top{ 
    display: flex;;
    align-items: center;
    flex-direction: column;
    text-align: center;
    

}
.top h1{
    font-size: 60px;
    color: #fff;

}
.top a{
    display: flex;
}
.nav-link button{
    border-color: #008000;
    color: #000;
    border-style: solid;
    border-width: 4px;
    font-size: 20px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
.nav-link button#diff{
    border-color: green;
    color: #fff;
    border-style: solid;
    font-size: 20px;
    background-color: #008000;
    padding: 10px;
    letter-spacing: 1px;


}
.set{
    margin-left: 55px;
    text-decoration: underline #008000;
    text-transform: uppercase;
    font-size: 30px;

}
.spot{
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-rows: 400px;
    place-content: center;
    justify-items: center;
    align-items: center;
}
.item{  
    text-align: center;
    font-size: 23px;
    text-decoration:underline #008000;
    text-transform: uppercase;
    text-shadow: #000;
}
.button {
    text-align: center;
}
button a{
    
    text-decoration: none;
    color: #fff;
    
}
.edit{
    border-color: green;
    color: #fff;
    border-style: solid;
    font-size: 20px;
    background-color: #008000;
    padding: 10px;
    text-align: center;
    
}
.kerala{
    text-align: right;
    margin-right: 50px;
}
.map
{
    display: flex;
    margin: 55px;
    
}
.mapofkerala{
    
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: #008000;
    
}
.about{
    font-size: 18px;
    line-height: 250%;

    
}
#secondp{
    margin: 55px;
    font-size: 18px;
    line-height: 250%;

}
.district-section{
    display: grid;
    grid-template-columns:400px 400px 400px;
    grid-template-rows: 400px;
    place-content: center;
    justify-items: center;
    align-items: center;
   
}
.districts h4{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #008000;
}
.districts{
    width: 350px;
    //*border-radius: 15px;
    box-shadow: 10px 5px 26px rgb(170, 165, 165);*/
}

.img-district{
    width: 100%;
    height: 300px;
}
.img-district img{
    width: 100%;
    height: 100%;
    border-radius: 150px;

}
.center{
    display: grid;
    place-content: center;
}
.form-section{
    width: 350px;
    background-color: white;
    border: 0px solid black;
    height: 400px;
    padding: 40px 0;
    box-shadow: 4px 6px 5px 2px rgba(0,0, 0, 0.26);
    border-radius: 15px;
   

}
.form-section h1{
    text-align: center;
    color: #008000;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline black; 
    margin: auto;
    margin-bottom: 20px;


}
input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #008000;
    padding: 2px 5px;
}
.input-group{
    width: 300px;
    margin: 30px auto;
    color: grey;
    font-size: 16px;
    

}
.submit-group{
    text-align: center;
}
.submit-button{
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 200px;
    font-size: 18px;


}
footer{
    background-color: lightgreen;
}
